{% extends 'base.html' %}

{% block body %}

<h1>{{ project.title }}</h1>
<p><b>Vote Ratio:</b> {{ project.vote_ratio }}</p>
<p><b>Vote Total:</b> {{ project.vote_total }}</p>
<p><b>Source:</b> {{ project.source_link }}</p>

{% for tag in tags %}
<span class="badge badge-dark">{{ tag.name }}</span>
{% endfor %}
<hr>
<h5>id: <i><small class="text-muted">{{ pk }}</small></i></h5>
<h5>id: <i><small class="text-muted">{{ project.id }}</small></i></h5>

<a class="btn btn-primary" href="{% url 'projects:projects' %}">Back to Projects</a>

{% endblock %}
